In [1]:
import pandas as pd
# Mostrar todas las columnas sin límite
pd.set_option('display.max_columns', None)

In [2]:
# Leer el archivo CSV
comercio_df = pd.read_csv('comercio.csv', sep='|')

comercio_df.head()

,id_comercio,id_bandera,comercio_cuit,comercio_razon_social,comercio_bandera_nombre,comercio_bandera_url,comercio_ultima_actualizacion,comercio_version_sepa
0,10,3.0,3.068731e+10,INC S.A.,Express,www.carrefour.com.ar,2025-05-02T04:30:04-03:00,1.0
1,10,1.0,3.068731e+10,INC S.A.,Hipermercado Carrefour,www.carrefour.com.ar,2025-05-02T04:30:04-03:00,1.0
2,10,2.0,3.068731e+10,INC S.A.,Market,www.carrefour.com.ar,2025-05-02T04:30:04-03:00,1.0
3,Ultima actualización: 2025-05-02T04:30:04-03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Analizamos los tipos de datos de las columnas.

In [3]:
comercio_df.dtypes

id_comercio                       object
id_bandera                       float64
comercio_cuit                    float64
comercio_razon_social             object
comercio_bandera_nombre           object
comercio_bandera_url              object
comercio_ultima_actualizacion     object
comercio_version_sepa            float64
dtype: object

Notamos que el último registro de cada csv es irrelevante.

In [4]:
comercio_df = comercio_df.drop(comercio_df.index[-1])

Análisis de nulos.

In [5]:
comercio_df.isnull().sum()

id_comercio                      0
id_bandera                       0
comercio_cuit                    0
comercio_razon_social            0
comercio_bandera_nombre          0
comercio_bandera_url             0
comercio_ultima_actualizacion    0
comercio_version_sepa            0
dtype: int64

Nos quedamos solo con las columnas del id_bandera y comercio_bandera_nombre.

In [6]:
comercio_df = comercio_df[["id_bandera", "comercio_bandera_nombre"]]
comercio_df['id_bandera'] = comercio_df['id_bandera'].astype(int).astype(str)
comercio_df.head()

  id_bandera comercio_bandera_nombre
0          3                 Express
1          1  Hipermercado Carrefour
2          2                  Market

Guardamos el dataset filtrado.

In [7]:
comercio_df.to_excel('comercio_procesado.xlsx', index=False)