In [1]:
import pandas as pd
import zipfile
# Mostrar todas las columnas sin límite
pd.set_option('display.max_columns', None)

In [2]:
dia_semana = 'jueves'
# Ruta al archivo zip
zip_path = f'{dia_semana}.zip'

# Abrir el zip
with zipfile.ZipFile(zip_path) as z:
    # Abrir solo el archivo CSV deseado
    with z.open('productos.csv') as f:
        productos_df = pd.read_csv(f, sep='|')

productos_df.head()

/var/folders/gf/xjt2z0l14fn8dy1y22cnhzm40000gn/T/ipykernel_50776/1770021287.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  productos_df = pd.read_csv(f, sep='|')

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,10,1.0,63.0,7.790771e+12,1.0,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1.0,UNI,NOSOTRAS,2709.0,169.31,16.0,UNI,NaN,NaN,NaN,NaN
1,10,3.0,744.0,7.799155e+12,1.0,AGUA MINERAL SIN GAS VILLAVICENCIO PET X 500 CC,1.0,UNI,VILLAVICENCIO,1459.0,2918.00,500.0,CM3,NaN,NaN,NaN,NaN
2,10,1.0,44.0,7.622202e+12,1.0,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1.0,UNI,TERRABUSI,995.0,5852.94,170.0,GRM,NaN,NaN,NaN,NaN
3,10,2.0,62.0,7.791293e+12,1.0,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1.0,UNI,TRESEMME,4365.0,17460.00,250.0,CM3,NaN,NaN,NaN,NaN
4,10,1.0,2.0,7.791720e+12,1.0,ANANA EN RODAJAS BULNEZ LATA X 825 GRS,1.0,UNI,BULNEZ,2990.0,3624.24,825.0,GRM,NaN,NaN,NaN,NaN

In [3]:
productos_df.tail()

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
2294863,10,1.0,15.0,2.695890e+12,1.0,BOLSA DE RESIDUOS BULNEZ 60X90CM PLANA X10,1.0,UNI,BULNEZ,3090.0,3090.00,1.0,UNI,NaN,NaN,NaN,NaN
2294864,10,1.0,231.0,7.791291e+12,1.0,LIMPIADOR CREMOSO C LAVANDINA CIF X 750G,1.0,UNI,CIF,3255.0,4340.00,750.0,GRM,NaN,NaN,NaN,NaN
2294865,10,3.0,609.0,5.000281e+12,1.0,GIN TANQUERAY X 700 CC,1.0,UNI,TANQUERAY,35809.0,51155.71,700.0,CM3,NaN,NaN,NaN,NaN
2294866,10,1.0,271.0,7.798112e+12,1.0,JABON LIQUIDO LAVANDA KR X 510 ML,1.0,UNI,KARINA RABOLINI,8065.0,15813.73,510.0,CM3,NaN,NaN,NaN,NaN
2294867,Ultima actualización: 2025-05-22T05:12:53-03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Notamos que el ultimo registro de cada csv es irrelevante
productos_df = productos_df.drop(productos_df.index[-1])

In [5]:
productos_df.isnull().sum()

id_comercio                                   0
id_bandera                                    0
id_sucursal                                   0
id_producto                                   0
productos_ean                                 0
productos_descripcion                         0
productos_cantidad_presentacion               0
productos_unidad_medida_presentacion          0
productos_marca                               0
productos_precio_lista                        0
productos_precio_referencia                   0
productos_cantidad_referencia                 0
productos_unidad_medida_referencia            0
productos_precio_unitario_promo1        2229823
productos_leyenda_promo1                2229823
productos_precio_unitario_promo2        2294867
productos_leyenda_promo2                2294867
dtype: int64

In [6]:
len(productos_df)

2294867

In [7]:
productos_df.columns

Index(['id_comercio', 'id_bandera', 'id_sucursal', 'id_producto',
       'productos_ean', 'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion', 'productos_marca',
       'productos_precio_lista', 'productos_precio_referencia',
       'productos_cantidad_referencia', 'productos_unidad_medida_referencia',
       'productos_precio_unitario_promo1', 'productos_leyenda_promo1',
       'productos_precio_unitario_promo2', 'productos_leyenda_promo2'],
      dtype='object')

In [8]:
# verificamos cuantos registros tienen el codigo de producto EAN y cuantos no
productos_df['productos_ean'].value_counts()

productos_ean
1.0    2240594
0.0      54273
Name: count, dtype: int64

In [9]:
productos_df['productos_ean'].duplicated().sum()

np.int64(2294865)

In [10]:
# Verificamos que no haya un id_producto repetido como ean y como NO ean
mask = productos_df.groupby('id_producto')['productos_ean'].nunique() > 1

# Filtrar el DataFrame original con los valores que cumplen la condición
df_filtrado = productos_df[productos_df['id_producto'].isin(mask[mask].index)]
df_filtrado.head()

Empty DataFrame
Columns: [id_comercio, id_bandera, id_sucursal, id_producto, productos_ean, productos_descripcion, productos_cantidad_presentacion, productos_unidad_medida_presentacion, productos_marca, productos_precio_lista, productos_precio_referencia, productos_cantidad_referencia, productos_unidad_medida_referencia, productos_precio_unitario_promo1, productos_leyenda_promo1, productos_precio_unitario_promo2, productos_leyenda_promo2]
Index: []

In [11]:
columnas_de_interes = [ 
       'id_sucursal',
       'id_producto',
       'productos_ean',
       'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion',
       'productos_marca',
       'productos_precio_lista',
       'productos_precio_referencia',
       'productos_cantidad_referencia',
       'productos_unidad_medida_referencia',
       'productos_precio_unitario_promo1',
       'productos_leyenda_promo1',
       'productos_precio_unitario_promo2',
       'productos_leyenda_promo2'
]

In [12]:
productos_df = productos_df[columnas_de_interes]
productos_df.head()

,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,63.0,7.790771e+12,1.0,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1.0,UNI,NOSOTRAS,2709.0,169.31,16.0,UNI,NaN,NaN,NaN,NaN
1,744.0,7.799155e+12,1.0,AGUA MINERAL SIN GAS VILLAVICENCIO PET X 500 CC,1.0,UNI,VILLAVICENCIO,1459.0,2918.00,500.0,CM3,NaN,NaN,NaN,NaN
2,44.0,7.622202e+12,1.0,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1.0,UNI,TERRABUSI,995.0,5852.94,170.0,GRM,NaN,NaN,NaN,NaN
3,62.0,7.791293e+12,1.0,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1.0,UNI,TRESEMME,4365.0,17460.00,250.0,CM3,NaN,NaN,NaN,NaN
4,2.0,7.791720e+12,1.0,ANANA EN RODAJAS BULNEZ LATA X 825 GRS,1.0,UNI,BULNEZ,2990.0,3624.24,825.0,GRM,NaN,NaN,NaN,NaN

Dado nuestro análisis previo de las sucursales, tomamos solamente las sucursales de la Ciudad Autónoma de Buenos Aires y de la provincia de Buenos Aires. Ya que la mayor cantidad de sucursales del país se concentran en estas jurisdicciones.

In [13]:
productos_df['dia_semana'] = dia_semana
productos_df['id_sucursal'] = productos_df['id_sucursal'].astype(int)
productos_df['productos_ean'] = productos_df['productos_ean'].astype(int).astype(bool)
# Convertir la columna 'id_producto' a categórica
productos_df['id_producto'] = productos_df['id_producto'].astype(int).astype(str).astype('category')
productos_df['productos_unidad_medida_presentacion'] = productos_df['productos_unidad_medida_presentacion'].astype('category')
productos_df['productos_marca'] = productos_df['productos_marca'].astype('category')
productos_df['productos_unidad_medida_referencia'] = productos_df['productos_unidad_medida_referencia'].astype('category')

# Mergear con sucursales
sucursales_df = pd.read_excel('sucursales_procesado.xlsx')
# Uno los dataframe por la columna de id_sucursal
productos_df = pd.merge(productos_df, sucursales_df, on='id_sucursal', how='inner')
display(productos_df.head())

# Ruta donde se guardará el zip
zip_filename = 'productos_procesado.zip'
csv_filename = 'productos_procesado.csv'

# Crear el archivo zip y guardar el CSV dentro
with zipfile.ZipFile(zip_filename, mode='w', compression=zipfile.ZIP_DEFLATED) as zf:
    with zf.open(csv_filename, mode='w') as f:
        productos_df.to_csv(f, sep='|', index=False)

,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2,dia_semana,id_bandera,sucursales_nombre,sucursales_tipo,sucursales_latitud,sucursales_longitud,sucursales_barrio,sucursales_localidad,sucursales_provincia
0,62,7791293050089,True,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1.0,UNI,TRESEMME,4365.0,17460.00,250.0,CM3,NaN,NaN,NaN,NaN,jueves,2,Champagnat,Hipermercado,-34.449813,-58.916319,NaN,Pilar,Buenos Aires
1,2,7791720018088,True,ANANA EN RODAJAS BULNEZ LATA X 825 GRS,1.0,UNI,BULNEZ,2990.0,3624.24,825.0,GRM,NaN,NaN,NaN,NaN,jueves,1,Vicente López,Hipermercado,-34.532302,-58.468176,NaN,Vicente López,Buenos Aires
2,130,7798151952981,True,MANI TOSTADO CON CASCARA KING X 175 GRS,1.0,UNI,KING,1300.0,7428.57,175.0,GRM,NaN,NaN,NaN,NaN,jueves,2,Mar del Plata Centro,Supermercado,-37.998923,-57.553648,NaN,Mar del Plata,Buenos Aires
3,438,7791293045733,True,SHAMPOO CERAMIDAS SEDAL X 340 CC,1.0,UNI,SEDAL,4379.0,12879.41,340.0,CM3,NaN,NaN,NaN,NaN,jueves,3,25 de Mayo 2650,Supermercado,-34.500302,-58.694886,NaN,Los Polvorines,Buenos Aires
4,272,7790990999868,True,LAVAVAJILLA LIMON ZORRO BOTELLA X 500 CC,1.0,UNI,ZORRO,2209.0,4418.00,500.0,CM3,NaN,NaN,NaN,NaN,jueves,2,San Fernando II,Supermercado,-34.441795,-58.553738,NaN,San Fernando,Buenos Aires