In [1]:
pip install -r ../requirements.txt

Requirement already satisfied: pandas==2.2.3 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: openpyxl in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 2)) (3.1.5)
Requirement already satisfied: matplotlib in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 3)) (3.10.3)
Requirement already satisfied: seaborn in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scipy in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 5)) (1.15.3)
Requirement already satisfied: scikit-learn in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from -r ../requirements.txt (line 6)) (1.6.1)
Requirement already satisfied: numpy>=1.23.2 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: et-xmlfile in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from openpyxl->-r ../requirements.txt (line 2)) (2.0.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (25.0)
Requirement already satisfied: pillow>=8 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from matplotlib->-r ../requirements.txt (line 3)) (3.2.3)
Requirement already satisfied: joblib>=1.2.0 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from scikit-learn->-r ../requirements.txt (line 6)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from scikit-learn->-r ../requirements.txt (line 6)) (3.6.0)
Requirement already satisfied: six>=1.5 in /Users/alejandronicolastacchella/Documents/Personal/Maestría IA/AdD/ceia_add_tps/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r ../requirements.txt (line 1)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import zipfile
from sklearn.preprocessing import StandardScaler
# Mostrar todas las columnas sin límite
pd.set_option('display.max_columns', None)

In [3]:
# Leer el archivo CSV
productos_df = pd.read_csv('productos.zip', sep='|')

productos_df.head()

/var/folders/gf/xjt2z0l14fn8dy1y22cnhzm40000gn/T/ipykernel_17036/2831869706.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  productos_df = pd.read_csv('productos.zip', sep='|')

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,10,1.0,63.0,7.790771e+12,1.0,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1.0,UNI,NOSOTRAS,2809.0,175.56,16.0,UNI,NaN,NaN,NaN,NaN
1,10,3.0,711.0,7.790070e+12,1.0,FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS,1.0,UNI,LUCCHETTI,1339.0,2678.00,500.0,GRM,NaN,NaN,NaN,NaN
2,10,1.0,44.0,7.622202e+12,1.0,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1.0,UNI,TERRABUSI,959.0,5641.18,170.0,GRM,NaN,NaN,NaN,NaN
3,10,2.0,62.0,7.791293e+12,1.0,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1.0,UNI,TRESEMME,3969.0,15876.00,250.0,CM3,NaN,NaN,NaN,NaN
4,10,1.0,2.0,7.791720e+12,1.0,ANANA EN RODAJAS BULNEZ LATA X 825 GRS,1.0,UNI,BULNEZ,2990.0,3624.24,825.0,GRM,NaN,NaN,NaN,NaN

In [4]:
productos_df.dtypes

id_comercio                              object
id_bandera                              float64
id_sucursal                             float64
id_producto                             float64
productos_ean                           float64
productos_descripcion                    object
productos_cantidad_presentacion         float64
productos_unidad_medida_presentacion     object
productos_marca                          object
productos_precio_lista                  float64
productos_precio_referencia             float64
productos_cantidad_referencia           float64
productos_unidad_medida_referencia       object
productos_precio_unitario_promo1        float64
productos_leyenda_promo1                 object
productos_precio_unitario_promo2        float64
productos_leyenda_promo2                float64
dtype: object

In [5]:
productos_df.describe()

,id_bandera,id_sucursal,id_producto,productos_ean,productos_cantidad_presentacion,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_precio_unitario_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
count,2.232853e+06,2.232853e+06,2.232853e+06,2.232853e+06,2232853.0,2.232853e+06,2.232853e+06,2.232853e+06,6.870200e+04,0.0,0.0
mean,2.065017e+00,3.166739e+02,7.322620e+12,9.777025e-01,1.0,1.050002e+04,2.112866e+04,3.965329e+02,6.686930e+04,NaN,NaN
std,8.728486e-01,2.318601e+02,1.653917e+12,1.476493e-01,0.0,8.212710e+04,9.270248e+04,5.130412e+02,2.463596e+05,NaN,NaN
min,1.000000e+00,1.000000e+00,4.008140e+07,0.000000e+00,1.0,3.600000e+01,2.700000e-01,0.000000e+00,4.500000e+01,NaN,NaN
25%,1.000000e+00,1.370000e+02,7.790315e+12,1.000000e+00,1.0,1.619000e+03,3.610000e+03,8.500000e+01,1.290000e+03,NaN,NaN
50%,2.000000e+00,2.560000e+02,7.791720e+12,1.000000e+00,1.0,2.790000e+03,8.350000e+03,2.370000e+02,1.990000e+03,NaN,NaN
75%,3.000000e+00,4.960000e+02,7.794521e+12,1.000000e+00,1.0,5.099000e+03,1.695000e+04,5.000000e+02,4.500000e+03,NaN,NaN
max,3.000000e+00,8.100000e+02,9.002490e+12,1.000000e+00,1.0,7.349000e+06,7.349000e+06,8.000000e+03,6.849000e+06,NaN,NaN

In [6]:
productos_df.tail()

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
2232849,10,2.0,512.0,2.509067e+12,0.0,QUESO CREMOSO FRACC SILVIA,1.0,KGM,S/D,14359.0,14359.0,1000.0,GRM,790.0,Promo A valida desde el 02/05/2025 hasta 04/05...,NaN,NaN
2232850,10,3.0,736.0,7.790010e+12,1.0,ACOND HIDRATACION INTENSA JOHNSONS KIDS X 200 CC,1.0,UNI,JOHNSONS BABY,4965.0,24825.0,200.0,CM3,2310.0,Promo A valida desde el 17/04/2025 hasta 20/05...,NaN,NaN
2232851,10,3.0,748.0,7.730908e+12,1.0,JUGO EN POLVO MIX FRUTAL RINDE DOS X 13GRS,1.0,UNI,RINDE DOS,559.0,4300.0,13.0,GRS,NaN,NaN,NaN,NaN
2232852,10,3.0,450.0,7.790070e+12,1.0,FIDEOS INTEGRALES SPAGHETTI MATARAZZO X 500 GRS,1.0,UNI,MATARAZZO,2009.0,4018.0,500.0,GRM,NaN,NaN,NaN,NaN
2232853,Ultima actualización: 2025-05-02T05:00:43-03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#notamos que el ultimo registro de cada csv es irrelevante
productos_df = productos_df.drop(productos_df.index[-1])

In [8]:
productos_df.isnull().sum()

id_comercio                                   0
id_bandera                                    0
id_sucursal                                   0
id_producto                                   0
productos_ean                                 0
productos_descripcion                         0
productos_cantidad_presentacion               0
productos_unidad_medida_presentacion          0
productos_marca                               0
productos_precio_lista                        0
productos_precio_referencia                   0
productos_cantidad_referencia                 0
productos_unidad_medida_referencia            0
productos_precio_unitario_promo1        2164151
productos_leyenda_promo1                2164151
productos_precio_unitario_promo2        2232853
productos_leyenda_promo2                2232853
dtype: int64

In [9]:
len(productos_df)

2232853

In [10]:
productos_df.columns

Index(['id_comercio', 'id_bandera', 'id_sucursal', 'id_producto',
       'productos_ean', 'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion', 'productos_marca',
       'productos_precio_lista', 'productos_precio_referencia',
       'productos_cantidad_referencia', 'productos_unidad_medida_referencia',
       'productos_precio_unitario_promo1', 'productos_leyenda_promo1',
       'productos_precio_unitario_promo2', 'productos_leyenda_promo2'],
      dtype='object')

In [11]:
# verificamos cuantos registros tienen el codigo de producto EAN y cuantos no
productos_df['productos_ean'].value_counts()

productos_ean
1.0    2183066
0.0      49787
Name: count, dtype: int64

In [12]:

productos_df['productos_ean'].duplicated().sum()

np.int64(2232851)

In [13]:
#Verificamos que no haya un id_producto repetido como ean y como NO ean
mask = productos_df.groupby('id_producto')['productos_ean'].nunique() > 1

# Filtrar el DataFrame original con los valores que cumplen la condición
df_filtrado = productos_df[productos_df['id_producto'].isin(mask[mask].index)]
df_filtrado.head()

Empty DataFrame
Columns: [id_comercio, id_bandera, id_sucursal, id_producto, productos_ean, productos_descripcion, productos_cantidad_presentacion, productos_unidad_medida_presentacion, productos_marca, productos_precio_lista, productos_precio_referencia, productos_cantidad_referencia, productos_unidad_medida_referencia, productos_precio_unitario_promo1, productos_leyenda_promo1, productos_precio_unitario_promo2, productos_leyenda_promo2]
Index: []

In [14]:
columnas_de_interes = [ 
       'id_sucursal',
       'id_producto',
       'productos_ean',
       'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion',
       'productos_marca',
       'productos_precio_lista',
       'productos_precio_referencia',
       'productos_cantidad_referencia',
       'productos_unidad_medida_referencia',
       'productos_precio_unitario_promo1',
       'productos_leyenda_promo1',
       'productos_precio_unitario_promo2',
       'productos_leyenda_promo2'
]

In [15]:
productos_df = productos_df[columnas_de_interes]
productos_df.head()

,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,63.0,7.790771e+12,1.0,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1.0,UNI,NOSOTRAS,2809.0,175.56,16.0,UNI,NaN,NaN,NaN,NaN
1,711.0,7.790070e+12,1.0,FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS,1.0,UNI,LUCCHETTI,1339.0,2678.00,500.0,GRM,NaN,NaN,NaN,NaN
2,44.0,7.622202e+12,1.0,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1.0,UNI,TERRABUSI,959.0,5641.18,170.0,GRM,NaN,NaN,NaN,NaN
3,62.0,7.791293e+12,1.0,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1.0,UNI,TRESEMME,3969.0,15876.00,250.0,CM3,NaN,NaN,NaN,NaN
4,2.0,7.791720e+12,1.0,ANANA EN RODAJAS BULNEZ LATA X 825 GRS,1.0,UNI,BULNEZ,2990.0,3624.24,825.0,GRM,NaN,NaN,NaN,NaN

#### **¿En qué tipo de comercio se pueden encontrar los precios más bajos? ¿En un Carrefour Express, en un Carrefour Market o en un Hipermercado Carrefour?**

Dado nuestro análisis previo de las sucursales, tomamos solamente las sucursales de la Ciudad Autónoma de Buenos Aires y de la provincia de Buenos Aires. Ya que la mayor cantidad de sucursales del país se concentran en estas jurisdicciones.

In [16]:
productos_df['id_sucursal'] = productos_df['id_sucursal'].astype(int)
productos_df['productos_ean'] = productos_df['productos_ean'].astype(int).astype(bool)
# Convertir la columna 'id_producto' a categórica
productos_df['id_producto'] = productos_df['id_producto'].astype(int).astype(str).astype('category')
productos_df['productos_unidad_medida_presentacion'] = productos_df['productos_unidad_medida_presentacion'].astype('category')
productos_df['productos_marca'] = productos_df['productos_marca'].astype('category')
productos_df['productos_unidad_medida_referencia'] = productos_df['productos_unidad_medida_referencia'].astype('category')

#  Normalizamos los precios agrupando por cada id_producto
scaler = StandardScaler()
productos_df['precio_zscore'] = productos_df.groupby('id_producto')['productos_precio_referencia'].transform(
    lambda x: scaler.fit_transform(x.values.reshape(-1, 1)).flatten()
)

# Mergear con sucursales
sucursales_df = pd.read_excel('./sucursales/sucursales_procesado.xlsx')
# Uno los dataframe por la columna de id_sucursal
productos_df = pd.merge(productos_df, sucursales_df, on='id_sucursal', how='left')
# Vamos a analizar las sucursales que son de la Ciudad Autónoma de Buenos Aires, de la provincia de Buenos Aires y del tipo supermercado
productos_df = productos_df[
    (productos_df['sucursales_provincia'] == 'Buenos Aires') | 
    (productos_df['sucursales_provincia'] == 'CABA')
]
productos_df = productos_df[productos_df['sucursales_tipo'] == 'Supermercado']
display(productos_df.head())

# Ruta donde se guardará el zip
zip_filename = 'productos_procesado.zip'
csv_filename = 'productos_procesado.csv'

# Crear el archivo zip y guardar el CSV dentro
with zipfile.ZipFile(zip_filename, mode='w', compression=zipfile.ZIP_DEFLATED) as zf:
    with zf.open(csv_filename, mode='w') as f:
        productos_df.to_csv(f, sep='|', index=False)

/var/folders/gf/xjt2z0l14fn8dy1y22cnhzm40000gn/T/ipykernel_17036/1283538018.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  productos_df['precio_zscore'] = productos_df.groupby('id_producto')['productos_precio_referencia'].transform(

,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2,precio_zscore,id_bandera,sucursales_nombre,sucursales_tipo,sucursales_latitud,sucursales_longitud,sucursales_barrio,sucursales_localidad,sucursales_provincia,comercio_bandera_nombre,localidad_provincia
5,130,7798151952981,True,MANI TOSTADO CON CASCARA KING X 175 GRS,1.0,UNI,KING,1400.0,8000.00,175.0,GRM,NaN,NaN,NaN,NaN,-3.587811e-01,2,Mar del Plata Centro,Supermercado,-37.998923,-57.553648,NaN,Mar del Plata,Buenos Aires,Market,Mar del Plata - Buenos Aires
6,438,7791293045733,True,SHAMPOO CERAMIDAS SEDAL X 340 CC,1.0,UNI,SEDAL,4255.0,12514.71,340.0,CM3,NaN,NaN,NaN,NaN,4.259006e-01,3,25 de Mayo 2650,Supermercado,-34.500302,-58.694886,NaN,Los Polvorines,Buenos Aires,Express,Los Polvorines - Buenos Aires
9,272,7790990999868,True,LAVAVAJILLA LIMON ZORRO BOTELLA X 500 CC,1.0,UNI,ZORRO,2209.0,4418.00,500.0,CM3,NaN,NaN,NaN,NaN,-2.952411e-01,2,San Fernando II,Supermercado,-34.441795,-58.553738,NaN,San Fernando,Buenos Aires,Market,San Fernando - Buenos Aires
19,212,7791720039748,True,GALLETITAS SURTIDO RELLENAS BULNEZ X 350 GRS,1.0,UNI,BULNEZ,1550.0,4428.57,350.0,GRM,NaN,NaN,NaN,NaN,-9.094947e-13,2,Malaver - Villa Ballester,Supermercado,-34.557290,-58.550437,NaN,Villa Ballester,Buenos Aires,Market,Villa Ballester - Buenos Aires
27,120,7792319972248,True,VINO ROSADO COSECHA TARDIA NORTON X 750 CC,1.0,UNI,NORTON TARDIO,5789.0,7718.67,750.0,CM3,NaN,NaN,NaN,NaN,3.455719e-02,2,Belgrano Cabildo,Supermercado,-34.558821,-58.459349,NaN,Ciudad Autónoma de Buenos Aires,CABA,Market,Ciudad Autónoma de Buenos Aires - CABA